.keyboard {
  width: 704px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0;
  background: $keyboard-bg;
  border: 3px solid $keyboard-border;
  border-radius: $border-radius;
}

.row {
  clear: both;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

.key {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  background: $key-bg;
  border-radius: $border-radius;
  cursor: pointer;
  user-select: none;
  transition: border-radius 0.3s, background-color 0.3s;
}

.key:hover {
  background: #79aa89;
}

.key.active {
  background-color: #2cfd72;
  border-radius: 50px;
}

.AltLeft,
.AltRight,
.ArrowUp,
.ArrowLeft,
.ArrowDown,
.ArrowRight,
.Backspace,
.CapsLock,
.ControlLeft,
.ControlRight,
.Delete,
.Enter,
.ShiftLeft,
.ShiftRight,
.Tab,
.MetaLeft {
  font-weight: 600;
  background-color: $big-key-bg;
}

.keyboard .Tab {
  width: 50px;
}

.keyboard .Backspace,
.keyboard .CapsLock,
.keyboard .ShiftLeft {
  width: 100px;
}

.keyboard .Delete {
  width: 44px;
}

.keyboard .Enter,
.keyboard .ShiftRight {
  width: 86px;
}

.keyboard .Space {
  width: 330px;
}

.caseDown,
.caseUp,
.shiftCaps,
.caps {
  display: block;
  width: 100;
  min-height: 40px;
}

.hidden {
  display: none;
}
